In [2]:
import pandas as pd
import numpy as np
df=pd.read_excel("master.xlsx")

In [3]:
df1=df
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,2156624900,796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,2156624900,796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,2156624900,796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,2156624900,796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,2156624900,796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,63067077179,2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,63067077179,2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,63067077179,2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,63067077179,2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,63067077179,2309,Boomers

In [4]:
df.drop(axis=1,columns=["country-year"],inplace=True)

In [5]:
df["population"].describe()
med=df["population"].describe()
print(med)
# ma=df["population"].max()
bins = [0, med["25%"], med["75%"], med["max"]]
labels=["Low_population", "Medium_population", "High_population"]
df["population"]=pd.cut(df["population"],bins=bins,labels=labels)

count    2.782000e+04
mean     1.844794e+06
std      3.911779e+06
min      2.780000e+02
25%      9.749850e+04
50%      4.301500e+05
75%      1.486143e+06
max      4.380521e+07
Name: population, dtype: float64

In [6]:
med=df["suicides_no"].describe()
print(med)
bins=[i*10 for i in range((int(med["75%"]))//10+2)]
print(bins)
bins.append(int(med["max"])+1)
labels=["{}-{}".format(bins[i],bins[i+1]) for i in range(len(bins)-1)]
labels[-1]=">{})".format(bins[-2])
print(labels)
df["suicides_no"]=pd.cut(df["suicides_no"],bins=bins,labels=labels)

count    27820.000000
mean       242.574407
std        902.047917
min          0.000000
25%          3.000000
50%         25.000000
75%        131.000000
max      22338.000000
Name: suicides_no, dtype: float64
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140]
['0-10', '10-20', '20-30', '30-40', '40-50', '50-60', '60-70', '70-80', '80-90', '90-100', '100-110', '110-120', '120-130', '130-140', '>140)']

In [103]:
# df.rename(columns={ "gdp_for_year ($)":"gdp_for_year"} ,inplace=True)

In [7]:
med=df[' gdp_for_year ($) '].describe()
print(med)

bins = [0, med["25%"], med["75%"], med["max"]]
labels=["Low_income_country", "Medium_income_country", "High_income_country"]
# df["population"]=pd.cut(df["population"],bins=bins,labels=labels)

count    2.782000e+04
mean     4.455810e+11
std      1.453610e+12
min      4.691962e+07
25%      8.985353e+09
50%      4.811469e+10
75%      2.602024e+11
max      1.812071e+13
Name:  gdp_for_year ($) , dtype: float64

In [8]:
df[" gdp_for_year ($) "]=pd.cut(df[" gdp_for_year ($) "],bins=bins,labels=labels)

In [9]:
med=df["gdp_per_capita ($)"].describe()
print(med)
bins=[i*1000 for i in range(int(med["75%"]+1000)//1000+1)]
bins.append(int(med["max"]))
labels=["{}-{}".format(bins[i],bins[i+1]) for i in range(len(bins)-1)]
print(bins)
labels[-1]=">{}".format(bins[-2])
print(labels)

count     27820.000000
mean      16866.464414
std       18887.576472
min         251.000000
25%        3447.000000
50%        9372.000000
75%       24874.000000
max      126352.000000
Name: gdp_per_capita ($), dtype: float64
[0, 1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000, 11000, 12000, 13000, 14000, 15000, 16000, 17000, 18000, 19000, 20000, 21000, 22000, 23000, 24000, 25000, 126352]
['0-1000', '1000-2000', '2000-3000', '3000-4000', '4000-5000', '5000-6000', '6000-7000', '7000-8000', '8000-9000', '9000-10000', '10000-11000', '11000-12000', '12000-13000', '13000-14000', '14000-15000', '15000-16000', '16000-17000', '17000-18000', '18000-19000', '19000-20000', '20000-21000', '21000-22000', '22000-23000', '23000-24000', '24000-25000', '>25000']

In [10]:
df["gdp_per_capita ($)"]=pd.cut(df["gdp_per_capita ($)"],bins=bins,labels=labels)

##***computing cubes***

In [13]:
minsup=0.01
dup=df[["country","year","age","sex"," gdp_for_year ($) "]]
dup

          country  year          age     sex      gdp_for_year ($)
0         Albania  1987  15-24 years    male     Low_income_country
1         Albania  1987  35-54 years    male     Low_income_country
2         Albania  1987  15-24 years  female     Low_income_country
3         Albania  1987    75+ years    male     Low_income_country
4         Albania  1987  25-34 years    male     Low_income_country
...           ...   ...          ...     ...                    ...
27815  Uzbekistan  2014  35-54 years  female  Medium_income_country
27816  Uzbekistan  2014    75+ years  female  Medium_income_country
27817  Uzbekistan  2014   5-14 years    male  Medium_income_country
27818  Uzbekistan  2014   5-14 years  female  Medium_income_country
27819  Uzbekistan  2014  55-74 years  female  Medium_income_country

[27820 rows x 5 columns]

In [14]:
def getcounts(data):
  req=data[:,0]
  datacounts=[]
  k=0
  if(len(req)==1):
    return [1]
  for i in range(len(req)-1):
    k+=1
    if(req[i]!=req[i+1]):
      datacounts.append(k)
      k=0
  datacounts.append(k+1)
  print(sum(datacounts))
  return datacounts

In [16]:
# cols=dup.columns
# uniq=df["country"].unique()
# dup.count(axis=1)
vals=dup.values
vals=vals[vals[:,0].argsort()]
dup.sort_values("country",inplace=True)

dic={}
def compute(data):
  dim=data.shape[1]
  if(dim==0):
    print("over")
    return 
  datacounts=getcounts(data)
  k=0
  print(data[:,0],datacounts)
  a=[]
  for i in range(len(datacounts)):
    c=datacounts[i]
    if(c/len(data)>minsup):
      a.append(compute(data[k:k+c,1:]))
    k+=c
compute(vals)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

Streaming output truncated to the last 5000 lines.
over
['male'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
7
['25-34 years' '35-54 years' '75+ years' '55-74 years' '15-24 years'
 '75+ years' '55-74 years'] [1, 1, 1, 1, 1, 1, 1]
['male'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
4
['15-24 years' '25-34 years' '5-14 years' '5-14 years'] [1, 1, 2]
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
2
['male' 'female'] [1, 1]
['Medium_income_country'] [1]
over
['Medium_income_country'] [1]
over
11
['25-34 years' '75+ years' '55-74 years' '35-54 years' '15-24 years'
 '55-74 years' '35-54 years' '25-34 years' '75+ years' '5-14 years'
 '5-14 years'] [1, 1, 1, 1, 1, 1, 1, 1, 1, 2]
['male'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
2
['male' 'female'] [1, 1]
['Medium_income_country'] [1]
over
['Medium_income_country'] [1]
over
4
['25-34 years' '75+ years' '15-24 years' '5-14 years'] [1, 1, 1, 1]
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
4
['75+ years' '25-34 years' '55-74 years' '35-54 years'] [1, 1, 1, 1]
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
6
['75+ years' '5-14 years' '55-74 years' '35-54 years' '25-34 years'
 '15-24 years'] [1, 1, 1, 1, 1, 1]
['female'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
8
['35-54 years' '15-24 years' '75+ years' '55-74 years' '35-54 years'
 '25-34 years' '15-24 years' '5-14 years'] [1, 1, 1, 1, 1, 1, 1, 1]
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
6
['55-74 years' '35-54 years' '15-24 years' '55-74 years' '35-54 years'
 '75+ years'] [1, 1, 1, 1, 1, 1]
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
11
['25-34 years' '55-74 years' '35-54 years' '15-24 years' '75+ years'
 '55-74 years' '35-54 years' '25-34 years' '15-24 years' '5-14 years'
 '5-14 years'] [1, 1, 1, 1, 1, 1, 1, 1, 1, 2]
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
2
['male' 'female'] [1, 1]
['High_income_country'] [1]
over
['High_income_country'] [1]
over
8
['25-34 years' '75+ years' '35-54 years' '55-74 years' '15-24 years'
 '35-54 years' '75+ years' '25-34 years'] [1, 1, 1, 1, 1, 1, 1, 1]
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
6
['25-34 years' '55-74 years' '35-54 years' '15-24 years' '55-74 years'
 '35-54 years'] [1, 1, 1, 1, 1, 1]
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
4
['25-34 years' '15-24 years' '5-14 years' '5-14 years'] [1, 1, 2]
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
2
['female' 'male'] [1, 1]
['High_income_country'] [1]
over
['High_income_country'] [1]
over
6
['35-54 years' '25-34 years' '15-24 years' '5-14 years' '5-14 years'
 '75+ years'] [1, 1, 1, 2, 1]
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
2
['male' 'female'] [1, 1]
['High_income_country'] [1]
over
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
12
['25-34 years' '75+ years' '55-74 years' '35-54 years' '15-24 years'
 '75+ years' '55-74 years' '35-54 years' '25-34 years' '5-14 years'
 '15-24 years' '5-14 years'] [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
7
['15-24 years' '75+ years' '35-54 years' '25-34 years' '15-24 years'
 '5-14 years' '55-74 years'] [1, 1, 1, 1, 1, 1, 1]
['male'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
8
['25-34 years' '15-24 years' '75+ years' '55-74 years' '35-54 years'
 '25-34 years' '15-24 years' '75+ years'] [1, 1, 1, 1, 1, 1, 1, 1]
['male'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['female'] [1]
['High_income_country'] [1]
over
['male'] [1]
['High_income_country'] [1]
over
324
[1998 1985 1985 1985 1985 1985 1986 1985 1986 1985 1985 1985 1986 1985
 1985 1986 1986 1986 1988 1986 1986 1986 1986 1987 1987 1987 1987 1987
 1987 1987 1987 1987 1987 1987 1987 1986 1986 1991 1988 1988 1988 1988
 1988 1988 1988 1988 1988 1989 1989 1989 1989 1989 1989 1991 1989 1989
 1989 1988 1989 1991 1991 1988 1990 1990 1990 1990 1990 1990 1990 1990
 1990 1990 1990 1991 1991 1991 1991 1990 1989 1995 1996 1993 1992 1991
 1995 1991 1992 1992 1992 1992 1992 1993 1992 1992 1992 1992 1992 1992
 1994 1994 1993 1994 1989 1994 1993 1993 1993 1993 1993 1993 1993 1994
 1994 1994 1994 1994 1994 1994 1993 1991 1993 1996 1995 1995 1995 1995
 1995 1995 1995 1991 1995 1996 1996 1996 1996 1996 1996 1996 1995 1996
 1996 1998 1995 1996 1997 1997 1997 1997 1997 1997 1997 1997 1997 1997
 1997 1997 1998 1998 1998 1994 1998 1985 1998 1998 1998 2005 1998 1998
 1999 1999 2000 1999 1999 1999 1999 1999 1999 1999 1999 1999 2001 2000
 2001 2000 2000 2000 2000 2000 2000 2000 2000 2001 2001 2001 2001 2001
 2001 2001 2001 2001 1999 2005 2001 2002 2002 2003 2002 2002 2002 2002
 2002 2003 2002 2002 2003 2003 2003 2002 2003 2002 2002 2004 2003 2005
 2003 2003 2003 2003 2003 2004 2004 2004 2004 2004 2004 2004 2004 2004
 2004 2004 2005 2000 2008 2000 2010 2006 2005 2005 2005 2005 2005 2005
 2006 2006 2006 2006 2006 2006 2006 2006 2006 2006 2005 2007 2008 2008
 2007 2007 2007 2007 2007 2007 2007 2007 2007 2007 2008 2008 2008 2008
 2008 2008 2006 2008 2007 2005 2009 2009 2009 2009 2009 2009 2009 2010
 2009 2009 2009 2009 2010 2010 2008 2010 2010 2010 2009 2011 2010 2010
 2010 2010 2010 2011 2011 2011 2011 2011 2011 2011 2011 2011 1998 2011
 2011 2008] [1, 5, 1, 1, 1, 3, 1, 2, 3, 1, 4, 12, 2, 1, 9, 6, 1, 3, 1, 1, 2, 1, 11, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 1, 6, 2, 1, 1, 1, 1, 7, 7, 1, 1, 1, 1, 7, 1, 1, 7, 1, 2, 1, 1, 1, 12, 3, 1, 1, 1, 3, 1, 2, 2, 1, 9, 1, 1, 1, 8, 9, 1, 1, 1, 2, 1, 5, 1, 2, 3, 1, 1, 2, 1, 1, 1, 5, 11, 1, 1, 1, 1, 1, 1, 6, 10, 1, 1, 2, 10, 6, 1, 1, 1, 1, 7, 1, 4, 2, 1, 3, 1, 1, 5, 9, 1, 2, 1]
5
['15-24 years' '35-54 years' '25-34 years' '55-74 years' '15-24 years'] [1, 1, 1, 1, 1]
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
4
['75+ years' '55-74 years' '5-14 years' '5-14 years'] [1, 1, 2]
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
2
['male' 'female'] [1, 1]
['Low_income_country'] [1]
over
['Low_income_country'] [1]
over
12
['75+ years' '25-34 years' '35-54 years' '15-24 years' '55-74 years'
 '35-54 years' '25-34 years' '15-24 years' '55-74 years' '5-14 years'
 '5-14 years' '75+ years'] [1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1]
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
2
['female' 'male'] [1, 1]
['Low_income_country'] [1]
over
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
9
['55-74 years' '5-14 years' '15-24 years' '75+ years' '25-34 years'
 '35-54 years' '15-24 years' '5-14 years' '55-74 years'] [1, 1, 1, 1, 1, 1, 1, 1, 1]
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
6
['35-54 years' '25-34 years' '25-34 years' '55-74 years' '15-24 years'
 '75+ years'] [1, 2, 1, 1, 1]
['male'] [1]
['Low_income_country'] [1]
over
2
['female' 'male'] [1, 1]
['Low_income_country'] [1]
over
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
11
['55-74 years' '35-54 years' '15-24 years' '15-24 years' '75+ years'
 '35-54 years' '55-74 years' '25-34 years' '75+ years' '5-14 years'
 '5-14 years'] [1, 1, 2, 1, 1, 1, 1, 1, 2]
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
2
['male' 'female'] [1, 1]
['Low_income_country'] [1]
over
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
2
['female' 'male'] [1, 1]
['Low_income_country'] [1]
over
['Low_income_country'] [1]
over
4
['15-24 years' '55-74 years' '25-34 years' '15-24 years'] [1, 1, 1, 1]
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
5
['75+ years' '25-34 years' '35-54 years' '35-54 years' '15-24 years'] [1, 1, 2, 1]
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
2
['female' 'male'] [1, 1]
['Low_income_country'] [1]
over
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
6
['25-34 years' '55-74 years' '5-14 years' '5-14 years' '75+ years'
 '55-74 years'] [1, 1, 2, 1, 1]
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
2
['female' 'male'] [1, 1]
['Low_income_country'] [1]
over
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
7
['75+ years' '25-34 years' '55-74 years' '35-54 years' '5-14 years'
 '75+ years' '5-14 years'] [1, 1, 1, 1, 1, 1, 1]
['male'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
7
['25-34 years' '35-54 years' '75+ years' '25-34 years' '15-24 years'
 '35-54 years' '55-74 years'] [1, 1, 1, 1, 1, 1, 1]
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
7
['5-14 years' '35-54 years' '15-24 years' '25-34 years' '15-24 years'
 '35-54 years' '55-74 years'] [1, 1, 1, 1, 1, 1, 1]
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
7
['55-74 years' '75+ years' '25-34 years' '55-74 years' '35-54 years'
 '15-24 years' '15-24 years'] [1, 1, 1, 1, 1, 2]
['female'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
2
['male' 'female'] [1, 1]
['Low_income_country'] [1]
over
['Low_income_country'] [1]
over
12
['75+ years' '25-34 years' '55-74 years' '35-54 years' '15-24 years'
 '15-24 years' '25-34 years' '55-74 years' '35-54 years' '5-14 years'
 '5-14 years' '75+ years'] [1, 1, 1, 1, 2, 1, 1, 1, 2, 1]
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
2
['male' 'female'] [1, 1]
['Low_income_country'] [1]
over
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
2
['male' 'female'] [1, 1]
['Low_income_country'] [1]
over
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
9
['35-54 years' '25-34 years' '75+ years' '15-24 years' '35-54 years'
 '55-74 years' '75+ years' '5-14 years' '15-24 years'] [1, 1, 1, 1, 1, 1, 1, 1, 1]
['male'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
8
['25-34 years' '75+ years' '15-24 years' '55-74 years' '25-34 years'
 '35-54 years' '5-14 years' '5-14 years'] [1, 1, 1, 1, 1, 1, 2]
['male'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
2
['female' 'male'] [1, 1]
['Low_income_country'] [1]
over
['Low_income_country'] [1]
over
9
['75+ years' '35-54 years' '25-34 years' '55-74 years' '15-24 years'
 '15-24 years' '55-74 years' '35-54 years' '75+ years'] [1, 1, 1, 1, 2, 1, 1, 1]
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
['male'] [1]
['Low_income_country'] [1]
over
2
['male' 'female'] [1, 1]
['Low_income_country'] [1]
over
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
['female'] [1]
['Low_income_country'] [1]
over
5
['55-74 years' '15-24 years' '25-34 years' '15-24 years' '75+ years'] [1, 1, 1, 1, 1]
['male'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
5
['75+ years' '25-34 years' '55-74 years' '5-14 years' '5-14 years'] [1, 1, 1, 2]
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
2
['male' 'female'] [1, 1]
['Medium_income_country'] [1]
over
['Medium_income_country'] [1]
over
11
['25-34 years' '75+ years' '55-74 years' '35-54 years' '15-24 years'
 '75+ years' '55-74 years' '25-34 years' '35-54 years' '15-24 years'
 '5-14 years'] [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
['male'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
6
['15-24 years' '25-34 years' '35-54 years' '55-74 years' '5-14 years'
 '5-14 years'] [1, 1, 1, 1, 2]
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
2
['female' 'male'] [1, 1]
['Medium_income_country'] [1]
over
['Medium_income_country'] [1]
over
10
['75+ years' '35-54 years' '5-14 years' '55-74 years' '15-24 years'
 '55-74 years' '15-24 years' '25-34 years' '35-54 years' '75+ years'] [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
['female'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
['female'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over
['male'] [1]
['Medium_income_country'] [1]
over

In [17]:
df["year"].unique()

array([1987, 1988, 1989, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
       2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       1985, 1986, 1990, 1991, 2012, 2013, 2014, 2015, 2011, 2016])

0.011111111111111112